/* ===================== */
/* COMMOM CSS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
:root {
  --main-color: #d4af37;
  --secondary-color: #FAF7F2;
  --third-color: #FAF7F2;
  --fourth-color: #FDC745;
  --fourth-light-color: #e0bf6c;
  --fourth-dark-color: #d19e1d;
  --fifth-color: #D3D3D3;
  --sixth-color: #ffffff;
  --light-dark-color: #7d7266;
  --dark-color: #0A0A0A;
  --vlight-dark-color: #B0B0B0;
    /* Fonts */
    --font-serif: 'Playfair Display', Georgia, serif;
    --font-sans: 'DM Sans', system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lora', serif;
  background-color: #ffffff;
  box-sizing: border-box;
}
.golden{
  color:#c7a350;
}
.dark-golden{
  color: var(--fourth-dark-color);
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

p {
  font-family: "Roboto", sans-serif;
}
.icon {
  padding: 7px 13px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 50%;
  border: 0;
  background-color: #FFF7E6;
  color: var(--fourth-color);
}
.line {
  width: 40px;
  height: 2px;
  position: relative;
  bottom: 6px;
  background-color: var(--vlight-dark-color);
  display: inline-block;
}

.btn:focus,
button:focus {
  outline: none;
}

.menu {
  list-style: none;
  background-color: var(--sixth-color);
}

.menu .logo {
  color: var(--main-color);
  font-family: 'Cinzel', serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu li a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #0A0A0A;
}

.menu li a:hover {
  color: var(--main-color);
}


.golden-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 0;
  background-color: var(--sixth-color);
  color: var(--fourth-color);
}

.golden-icon:hover {
  background-color: #FFF7E6;
  color: var(--fourth-color);
  border-radius: 50%;
}

.btn-golden {
  background: linear-gradient(135deg, #c9a24d, #e6c36a);
  color: #fff;
  padding: 10px 28px;
  border-radius: 30px;
  border: none;
}

.btn-golden:hover {
  background: linear-gradient(135deg, #b8923e, #d4b25f);
  color: #fff;
}

.btn-outline-golden {
  border: 2px solid #c9a24d;
  color: #c9a24d;
  padding: 10px 26px;
  border-radius: 30px;
}

.btn-outline-golden:hover {
  background: #c9a24d;
  color: #fff;
}

.btn-dark-golden {
  background: #966919;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
}

.btn-dark-golden:hover {
  background: #d4b25f;
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23d4af37' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-close {
  filter: invert(75%) sepia(60%) saturate(500%) hue-rotate(10deg);
}



@media(max-width: 768px) {
  .menu {
    padding-top: 10px;
  }

  .menu .logo {
    font-size: 1.5rem;
  }

  .sidebar {
    background-color: rgba(250, 247, 242, 0.808);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  .menu .bookavisit{
    width: 100%;
  }
}

/* hero section  */
.hero {
  margin-top: 78px;
  /* fixed navbar space */
  background-image: url("../images/hero-banner.png");
  background-size: cover;
  background-position: center right;
  /* model right side */
  background-repeat: no-repeat;
  height: 90vh;

  display: flex;
  align-items: center;
}

.hero-content {
  background: rgba(255, 255, 255, 0.75);
  /* luxury glass effect */
  padding: 40px;
  border-radius: 12px;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 85px;
  font-weight: 700;
  color: var(--dark-color);
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
  line-height: 78px;
  letter-spacing: 5px;
}

.hero-content h1 span {
  color: var(--fourth-color);
}

.hero-content p {
  font-size: 20px;
  color: var(--vlight-dark-color);
  font-weight: 400;
}

.hero-content p .line {
  width: 40px;
  height: 2px;
  position: relative;
  bottom: 6px;
  background-color: var(--vlight-dark-color);
  display: inline-block;
}
.hero-content .bis{
  margin-top: 20px;
  padding: 0;
}
.hero-content .bis p{
  font-size: 14px;
}
.hero-content p .icon {
  padding: 13px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 50%;
  border: 0;
  background-color: #FFF7E6;
  color: var(--fourth-color);
}

@media (max-width: 768px) {
  .hero {
    margin-top: 0;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  .hero-content {
    background: rgba(255, 255, 255, 0.89);
    padding: 20px;
    border-radius: 8px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .btn {
    font-size: 12px;
  }

  .btn-golden {
    padding: 8px 20px;
  }

  .btn-outline-golden {
    padding: 8px 20px;
  }
  .hero-content p .icon {
    margin-left: 3px;
  }
  .hero-content .bis p{
    margin-top: 30px;
  }

}

/* hero section end  */
.key-hilight {
  background-color: var(--third-color);
}

.key-hilight-item {
  padding: 12px 0;
  margin: 8px 0;
}

.key-hilight-item h6 {
  margin-left: 12px;
}

/* Our Collections  */
/* .our-collections {
  background: #302c28;
background: linear-gradient(171deg, rgba(48, 44, 40, 1) 0%, rgba(46, 40, 34, 1) 39%, rgba(89, 78, 63, 1) 100%);
} */

.our-collections {
background: #292623;
background: linear-gradient(155deg, rgba(41, 38, 35, 1) 0%, rgba(48, 44, 40, 1) 39%, rgba(51, 46, 43, 0.95) 100%);
}
.heading-light{
  color: white;
  font-size: 3.5rem;
  text-align: center;
  font-family: "Crimson Text", serif;
}
.heading-darh{
  color: black;
  font-size: 3.5rem;
  text-align: center;
  font-family: "Crimson Text", serif;
}
.golden-dark-line{
  width: 70px;
  height: 2px;
  position: relative;
  bottom: 6px;
  background: #302c28;
  background: linear-gradient(112deg, rgba(48, 44, 40, 1) 0%, rgba(253, 199, 69, 1) 39%, rgba(48, 44, 40, 1) 100%);
  display: inline-block;
}
.golden-light-line{
  width: 70px;
  height: 2px;
  position: relative;
  bottom: 6px;
  background: #302c28;
  background: linear-gradient(112deg, rgb(250, 247, 242) 0%, rgba(253, 199, 69, 1) 39%, rgb(250, 247, 242) 100%);
  display: inline-block;
}
.our-collections p {
  color: #DFDBD8;
}

.our-collections .card {
  border-radius: 16px 16px 16px 16px;
  overflow: hidden;
  border: none;
  position: relative;
}

.our-collections .card .card-img-overlay{
  margin-top: 220px;
}

.our-collections .card img {
  border-radius: 16px 16px 16px 16px;
  min-height: 420px;
  height: 420px;
  object-fit: cover;
  filter: brightness(50%) contrast(100%);
  transition: all 0.5s linear;
}

.our-collections .card .btn {
  background-color:transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: -40px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.2s linear;
}
.our-collections .card:hover img{
  transform: scale(1.1);
}
.our-collections .card p{
  font-size: 14px;
  color: var(--vlight-dark-color);
  padding:5px 0;
}
.our-collections .card:hover .btn{
  border: 1px solid var(--fourth-color);
  color: var(--fourth-color);
  background-color: transparent;
  bottom: 10px;
}

.our-collections .card .card-body {
  min-height: auto;
  height: 220px;
}

/* Our Collections End  */
/* why choose us */
.why-choose-us{
  padding: 80px 0;
}
.why-choose-us p{
  font-weight: 500;
}
.why-choose-us .description{
  color: var(--vlight-dark-color);
}
.why-choose-us h1{
  font-size: 3.7rem;
  font-weight: 500;
  margin-bottom: 25px;
  font-family: "Crimson Text", serif;
}
.why-choose-us h6{
  font-family: "Roboto", sans-serif;
}

.why-choose-us-item{
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 5px 10px 35px #e4e2e298;
}
.image-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 10px 35px #e4e2e298;
}

.badge-top {
  position: absolute;
  top: -25px;
  right: -50px;
  background: #e5b13a;
  color: #000;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}
.badge-top h5{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Crimson Text", serif;
  line-height: 25px;
}
.badge-top h5 span{
  font-size: 40px;
}
.badge-top small{
   font-family: "Roboto", sans-serif;
   color: #272323;
}

.badge-bottom {
  position: absolute;
  bottom: -20px;
  left: -20px;
  background: #fff;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.badge-bottom h5{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Crimson Text", serif;
  line-height: 25px;
  color: var(--fourth-color);
}

.badge-bottom small{
   font-family: "Roboto", sans-serif;
   color: var(--vlight-dark-color);
}

@media (max-width: 768px) {
  .why-choose-us{
    text-align: center;
  }
  .badge-top {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
  }
  .badge-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    text-align: center;
  }

}
/* filter: drop-shadow(10px 15px 15px gray); */
/* why choose us End */
.customer-say {
  background: #f8f7f7;
  overflow: hidden;
}

.customer-say h1 {
  font-size: 3.7rem;
  font-weight: 500;
  margin-bottom: 25px;
  font-family: "Crimson Text", serif;
}

.customer-say .para {
  color: var(--vlight-dark-color);
  font-family: "Roboto", sans-serif;
  margin-bottom: 35px;
}

.customer-say .customer-say-item {
  padding: 15px 30px;
  margin: 10px 2px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 5px 10px 35px #e4e2e298;
}

.customer-say .customer-say-item .stars{
  margin-bottom: 20px;
  margin-top: 10px;
}
.customer-say .customer-say-item p{
  font-size: 16px;
  color: var(--vlight-dark-color);
  font-family: "Roboto", sans-serif;
  height: 120px;
}

.customer-say .customer-say-item .c-box{
  border-top: 1px solid lightgray;
  padding-top: 15px;
}
.customer-say .customer-say-item span {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 50%;
  border: 0;
  background-color: #FFF7E6;
  color: var(--fourth-color);
}

.customer-say .customer-say-item h6{
  line-height: 7px;
  margin-top: 6px;
}
.customer-say .customer-say-item small {
  color: var(--vlight-dark-color);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.customer-say .google-box{
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 5px 10px 35px #e4e2e298;
}

.customer-say .google-box h6 small{
  color: var(--vlight-dark-color);
  margin-right: 10px;
}
.customer-say .google-box h6{
  font-family: "Roboto", sans-serif;
  margin-top: 4px;
}
.customer-say .google-box h6 span{
  margin-left: 10px;
}

/* customer support */
.customer-support{
  background: #ffffff;
  overflow: hidden;
}
.support-accordian p{
  color: var(--fourth-color);
  font-family: "Roboto", sans-serif;
}
.support-accordian h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: "Crimson Text", serif;
}

.support-accordian span{
  text-align: center;
  margin-bottom: 20px;
}

.support-accordian .accordion{
  border: none;
  border-radius: 10px;
}

.support-accordian .accordion .accordion-item{
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: #ffffff;
  box-shadow: 5px 10px 35px #e4e2e298;
  margin-bottom: 10px;
  border-radius: 10px;
}
.support-accordian .accordion-button{
  border-radius: 8px;
}
.support-accordian .accordion .accordion-item h5{
  font-size: 16px;
  border: none;
}


.support-accordian .accordion .accordion-item p{
  color: var(--vlight-dark-color);
  font-size: 15px;
  padding: 8px 0px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

.support-accordian .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gold' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 5.5l6 6 6-6'/%3E%3C/svg%3E");
}
.accordion-button:not(.collapsed) {
  background-color: #ffffff;
  color: var(--main-color);
  border: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
}
.support-accordian .accordion-button:hover {
  background-color: #f8f6f6;
}

.support-contact{
  background-color: #292623;
  padding: 50px 35px;
  border-radius: 20px;
  box-shadow: 5px 10px 35px #e4e2e298;
  margin-bottom: 20px;
  color: #fff;
}

.support-contact h1{
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Crimson Text", serif;
}

.support-contact p{
  font-size: 15px;
  color: var(--vlight-dark-color);
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 35px;
}

.support-contact .phone-box{
  padding: 15px 20px;
  background-color: #312e2b;
  border-radius: 15px;
  margin-bottom: 20px;
  color: #fff;
  cursor: pointer;
  
}

.support-contact .phone-box:hover{
  background-color: #2b2826;
}

.support-contact .phone-box .golden-icon{
  color: var(--fourth-color);
  background-color: #4b4641;
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.support-contact .phone-box .c-box{
  margin-top: 15px;
  margin-left: 20px;
}

.support-contact .phone-box h6{
  line-height: 5px;
}
.support-contact .phone-box small{
  color: var(--vlight-dark-color);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.support-contact a{
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.support-contact .btn-golden{
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s linear;
  color: #292623;
  font-weight: 500;
}

.support-contact .btn-golden:hover{
  transform: scale(1.03);
}
/* Our Store */
.our-store{
  padding: 80px 0;
  background-color: #f8f7f7;
  overflow: hidden;
}
.our-store .our-store-text h1{
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: "Crimson Text", serif;
}

.our-store .our-store-text p{
  font-size: 15px;
  color: var(--vlight-dark-color);
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 35px;
}
.our-store-map{
  border-radius: 20px;
  box-shadow: 5px 10px 35px #e4e2e298;
  margin-bottom: 20px;
}
.our-store-map iframe{
  border-radius: 20px;
}
.our-store .our-store-address-item{
  padding: 0px 20px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 5px 10px 35px #e4e2e298;
}
.our-store .our-store-address-item .golden-icon{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: var(--fourth-color);
  background-color: #FFF7E6;
}

.our-store .our-store-address-item h4{ 
  line-height: 0px;
}
.our-store .our-store-address-item p{
  line-height: 18px;
  font-size: 15px;
  color: var(--vlight-dark-color);
  font-family: "Roboto", sans-serif;
}
/* footer  */
.footer {
  background-color: #292622;
  color: #fff;
  padding: 45px 0;
}
.footer .footer-item{
  padding: 5px;
}
.footer .footer-item h2{
  color: var(--main-color);
  font-family: 'Cinzel', serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.footer .footer-item p{
  font-size: 15px;
  color: var(--vlight-dark-color);
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 35px;
}

.footer .footer-item .golden-icon{
  margin-right: 10px;
  background-color: #332f2b;

}
.footer .footer-item h3{
  color: #fff;
  font-family: 'Cinzel', serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.footer .footer-item ul{
  list-style: none;
  padding: 0;
}
.footer .footer-item ul li{
  margin-bottom: 10px;
}
.footer .footer-item ul li i{
  color: var(--fourth-color);
  font-size: 14px;
  margin-right: 10px;
}
.footer .footer-item ul li a{
  color: var(--vlight-dark-color);
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: all 0.3s linear;
}
.footer .footer-item ul li a:hover{
  color: var(--fourth-color);
  transform: scale(1.03);
}
.footer hr{
  color: #3a3631;
}
.footer .copy-right p{
  color: rgb(139, 139, 139);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 35px;
}
.footer .copy-right a{
  color: var(--vlight-dark-color);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: all 0.3s linear;
  margin-left: 70px;
}
.footer .copy-right a:hover{
  color: var(--fourth-color);
  transform: scale(1.03);
}


/* Book Appointment */
.appointment-head{
  padding: 80px 0;
  background-color: #f8f7f7;
  overflow: hidden;
  text-align: center;
  padding-top: 100px;
}
.appointment-head h1{
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 20px;
  font-family: "Crimson Text", serif;
}
.appointment-head p{
  font-size: 16px;
  color: var(--light-dark-color);
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Book Appointment Form  */
#alert{
  color: #a80505;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.appointment-form{
  padding: 80px 0;
  background-color: #f2efe6;
  overflow: hidden;
}

.appointment-form p{
  font-size: 16px;
  color: var(--light-dark-color);
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.appointment-form form{
  width: 47%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  background-color: #ffffff;

}
@media(max-width: 768px) {
.appointment-form form{
    width: 100%;
  }
}

@media(max-width: 768px) {
  .appointment-form form{
    width: 100%;
  }
}

.appointment-form form label{
  font-size: 14px;
  color: var(--light-dark-color);
  font-family: "Roboto", sans-serif;
}

.appointment-form form input{
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 13px;
  font-size: 14px;
  color: var(--light-dark-color);
  font-family: "Roboto", sans-serif;
}

.appointment-form form select{
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 13px;
  font-size: 14px;
  color: var(--light-dark-color);
  font-family: "Roboto", sans-serif;
}

select option:hover {
  background-color: #d4af37;
  color: white;
}

.appointment-form form p{
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--vlight-dark-color);
  font-family: "Roboto", sans-serif;
}
.appointment-form form p strong{
  color: #000;
  font-weight: 500;
}
/* collections  */
.collection-head{
  margin-top: 78px;
  text-align: center;
}
.collection-head h1{
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 20px;
  font-family: "Crimson Text", serif;
}
.collection-head p{
  font-size: 16px;
  color: var(--light-dark-color);
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.collection1{
  padding: 150px 0;
  background-color: #f8f7f7;
  overflow: hidden;
}
.collection2{
  padding: 150px 0;
  background-color: #ffffff;
  overflow: hidden;
}
.collection3{
  padding: 150px 0;
  background-color: #f8f7f7;
  overflow: hidden;
}
.collection4{
  padding: 150px 0;
  background-color: #ffffff;
  overflow: hidden;
}
.collection .head{
  text-align: center;
  margin-bottom: 50px;
}
.collection .head h2{
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 20px;
  font-family: "Crimson Text", serif;
}
.collection .head p{
  font-size: 16px;
  color: var(--light-dark-color);
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}
.collection .collection-image{
  padding: 10px;
}
.collection .collection-image img{
  width: 100%;
  height: 410px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 10px 35px #e4e2e298;
}

.collection .collection-item{
  padding: 30px 10px;
}
.collection .collection-item p{
  font-size: 14px;
  color: var(--vlight-dark-color);
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align:center;
}
.collection .collection-item h4{
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 20px;
  font-family: "Crimson Text", serif;
}
.collection .collection-item .collection-box{
  padding: 2px 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 10px 35px #e4e2e298;
  margin: 10px 5px;
}
.collection .collection-item .collection-box h3{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 20px;
  font-family: "Crimson Text", serif;
}
.collection .collection-item .collection-box h4 small{
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: var(--light-dark-color);
}

/* About section start */

/* hero section  */
.about-hero {
  margin-top: 78px;
  /* fixed navbar space */
  background-image: url("../images/hero-jewellery.jpg");
  background-size: cover;
  background-position: center right;
  /* model right side */
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Gradient overlay */
.about-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(255, 255, 255, 0.85) 25%,
    rgba(255, 255, 255, 0.90) 40%,
    rgba(255, 255, 255, 0.45) 55%,
    rgba(255, 255, 255, 0.1) 85%
  );
  z-index:1;
}
.about-container{
  position: relative;
  z-index: 2;
}
.about-hero-content {
  position: relative;
  padding-right: 15px;
  
}
.about-hero-content .est{
  font-family: var(--font-sans);
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--fourth-dark-color);
}
.about-hero-content .line{
  width: 50px;
  height: 1px;
  position: relative;
  bottom: 6px;
  background-color: var(--fourth-dark-color);
  display: inline-block;
  margin-right: 10px;
}

.about-hero-content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--dark-color);
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: normal;
  padding: 5px 0;
}

.about-hero-content h1 span {
  color: var(--fourth-dark-color);
}

.about-hero-content p {
  font-size: 20px;
  color:#61584f;
  font-weight: 400;
}
.about-hero-content .btn{
  font-size: 20px;
  font-family: var(--font-sans);
}
.about-hero-content .btn-golden {
  background: linear-gradient(135deg, #d19e1d, #e6c36a);
  color: #fff;
  padding: 12px 28px; 
  border-radius: 10px;
  border: none;
}

.about-hero-content .btn-golden:hover {
  background: linear-gradient(135deg, #b8923e, #d4b25f);
  color: #fff;
}

.about-hero-content .btn-outline-golden {
  border: 2px solid #d19e1d;
  color: var(--fourth-dark-color);
  padding: 10px 28px;
  border-radius: 10px;
}

.about-hero-content .btn-outline-golden:hover {
  background: #c9a24d;
  color: #fff;
}
.about-hero-content .bis{
  border-top: 0.3px solid var(--fourth-dark-color);
  margin-top: 35px;
  padding: 25px 0;
  display: flex;
}
.about-hero-content .bis p{
  font-family: var(--font-sans);
  font-size: 13px;
  font-weight: 300;
  color: #61584f;
  margin-right: 25px;
  text-transform: uppercase;
  text-align: center;
}
.about-hero-content p span{
  font-family: var(--font-serif);
  margin-left: 8px;
  margin-right: 8px;
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--fourth-dark-color);
}

@media (max-width: 768px) {
  .about-hero {
    margin-top: 0;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  .about-hero-content {
    padding: 10px;
    margin-top: 25px;
  }

  .about-hero-content h1 {
    font-size: 45px;
  }

  .about-hero-content p {
    font-size: 16px;
  }

  .about-hero-content .btn {
    width: 100%;
    margin-top: 25px;
  }
  .about-hero-content .bis{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .about-hero-content .bis p{
    margin-right: 10px;
    margin-left: 10px;
  }

}

/* about why choose us */
.about-why-choose-us{
  padding: 80px 0;
}
.about-why-choose-us .image-box::after{
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--fourth-color);
  border-radius: 10px;
  background: transparent;
  z-index: -1;
}
.about-why-choose-us .badge-top {
  background-color: var(--fourth-dark-color);
  top: -25px;
  right: 550px;
  font-family: var(--font-serif);
  color: #ffffff;
}
.about-why-choose-us .badge-top small{
   color: #ffffff;
   font-family: var(--font-serif);
}
.about-why-choose-us .about-text{
  padding: 25px 10px;
  margin-left: 15px;
}
.about-why-choose-us .about-text p{}

.about-why-choose-us .about-text p span{
  width: 40px;
  height: 1px;
  position: relative;
  bottom: 6px;
  background-color: var(--fourth-dark-color);
  display: inline-block;
  margin-right: 5px;
}
.about-why-choose-us .about-text h2{
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--font-serif);
}
.about-why-choose-us .about-text-one{
  border-bottom: 1px solid var(--fourth-color);
}
.about-why-choose-us .about-text-one p{
  font-family: var(--font-sans);
  font-size: 16px;
  color: var(--light-dark-color);
  padding:5px 0;
}
.about-why-choose-us .about-text-two h4{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--fourth-dark-color);
  font-family: var(--font-serif);
}
.about-why-choose-us .about-text-two p{
  font-size: 14px;
  color: var(--vlight-dark-color);
}
.about-why-choose-us .about-text-two p span{
  width: 20px;
  height: 1px;
  position: relative;
  bottom: 4px;
  background-color: var(--vlight-dark-color);
  display: inline-block;
  margin-right: 2px;
}

@media (max-width: 768px) {
  .about-why-choose-us .image-box::after{
    content: none;
  }
}


/* our Philosophy */

.our-philosophy{
  padding: 80px 0px;
  background-color: #f5eddf;
}
.our-philosophy .our-philosophy-text{
  padding: 25px 10px;
  margin-left: 15px;
}
.our-philosophy .our-philosophy-text p{
  font-size: 16px;
  color: var(--fourth-dark-color);
  padding:5px 0;
}
.our-philosophy .our-philosophy-text h2{
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--font-serif);
}
.our-philosophy .our-philosophy-text .para{
  color: var(--light-dark-color);
}
.our-philosophy .our-philosophy-text p span{
  width: 20px;
  height: 1px;
  position: relative;
  bottom: 4px;
  background-color: var(--vlight-dark-color);
  display: inline-block;
  margin-right: 2px;
}

.our-philosophy .our-philosophy-item{
  background-color: #ffffff;
  padding: 25px 30px;
  margin-left: 15px;
  border-radius: 10px;
  margin-top: 25px;
  height: 320px;
}
.our-philosophy .our-philosophy-item span{
  width: 60px;
  height:60px;
  border-radius: 50%;
  background-color: #FFF7E6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: var(--fourth-color);
}
.our-philosophy .our-philosophy-item h4{
  color: var(--dark-color);
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--font-serif);
}
.our-philosophy .our-philosophy-item p{
  font-family: var(--font-sans);
  font-size: 15px;
  color: var(--light-dark-color);
}
.our-philosophy .our-philosophy-item .b-line{
  width: 0%;
  height: 2px;
  background-color: var(--fourth-dark-color);
  margin: 15px 0;
  transition: width 0.5s ease-in-out;
}
.our-philosophy .our-philosophy-item:hover span{
  background-color: var(--fourth-dark-color);
  color: #ffffff;
}
.our-philosophy .our-philosophy-item:hover h4{
  color: var(--fourth-dark-color);
}
.our-philosophy .our-philosophy-item:hover .b-line{
  width: 100%;
}

@media (max-width: 768px) {
  .our-philosophy .our-philosophy-item{
    height: auto;
    margin-left: 0px;
  }
}

/* craftsmanship */
.craftsmanship{
  padding: 80px 0px;
}
.craftsmanship .craftsmanship-text{
  padding: 25px 10px;
  margin-left: 15px;
}
.craftsmanship .craftsmanship-text p{
  font-size: 16px;
  color: var(--fourth-dark-color);
  padding:5px 0;
  font-family: var(--font-sans);
  letter-spacing: 2px;
  font-weight: 300;
}
.craftsmanship .craftsmanship-text p .line{
  width: 30px;
  height: 1px;
  position: relative;
  bottom: 4px;
  background-color: var(--fourth-dark-color);
  display: inline-block;
  margin-right: 8px;
}
.craftsmanship .craftsmanship-text h2{
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--font-serif);
  padding: 10px 0;
}
.craftsmanship .craftsmanship-text .para{
  color: var(--light-dark-color);
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 400;
}
.craftsmanship .craftsmanship-text-one P{
  font-size: 16px;
  color: var(--light-dark-color);
  font-family: var(--font-sans);
  letter-spacing: 1px;
  font-weight: 300;
  padding: 0;
}
.craftsmanship .craftsmanship-text-one P span{
  color: var(--fourth-dark-color);
  font-weight: 500;
  font-size: 20px;
  margin-right: 10px;
}

.craftsmanship .craftsmanship-text-two {
  border-top: 0.2px solid var(--fourth-dark-color);
  margin-top: 35px;
  padding: 25px 0;
  display: flex;
}
.craftsmanship .craftsmanship-text-two p{
  font-family: var(--font-sans);
  font-size: 12px;
  font-weight: 300;
  color: #61584f;
  margin-right: 70px;
  text-transform: uppercase;
  text-align: center;
}
.craftsmanship .craftsmanship-text-two p span{
  font-family: var(--font-serif);
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--fourth-dark-color);
}

.craftsmanship .image-box::after{
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--fourth-color);
  border-radius: 10px;
  background: transparent;
  z-index: -1;
}

@media (max-width: 768px) {
  .craftsmanship .craftsmanship-text-two {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .craftsmanship .craftsmanship-text-two p{
    margin-right: 20px;
  }
  .craftsmanship .image-box::after{
    content: none;
  }
}

/* trust */
.trust{
  padding: 80px 0px;
  background-color: #292521;
}
.trust .trust-text{
  padding: 25px 10px;
  margin-left: 15px;
  
}
.trust .trust-text p{
  font-size: 16px;
  padding:5px 0;
  font-family: var(--font-sans);
  letter-spacing: 2px;
  font-weight: 300;
  color: var(--fourth-light-color);
}
.trust .trust-text p .line{
  width: 30px;
  height: 1px;
  position: relative;
  bottom: 4px;
  background-color: var(--fourth-light-color);
  display: inline-block;
  margin-right: 8px;
}
.trust .trust-text h2{
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--font-serif);
  padding: 10px 0;
  color: #ffffff;
}
.trust .trust-text h2 .dark-golden{
  color: var(--fourth-light-color);
}
.trust .trust-text .para{
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 400;
  color: var(--vlight-dark-color);
}
.trust .trust-item{
  padding: 25px 25px;
  margin-left: 5px;
  background-color: #302d28;
  color: var(--vlight-dark-color);
  height: 250px;
  border-radius: 15px;
  border: 1px solid rgba(224, 191, 108, 0.2);
  transition: all 0.3s ease-in-out;
}
.trust .trust-item span{
  color: var(--fourth-light-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  background-color: #423b2f;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.trust .trust-item:hover{
  border: 1px solid rgba(224, 191, 108, 0.5);
}
.trust .trust-item:hover span{
  background-color: rgba(224, 191, 108, 0.2);
}
.trust .trust-item h4{
  font-size:16px;
  font-weight: 300;
  font-family: var(--font-serif);
  color:#ffffff;
}

.trust .trust-item p{
  font-size: 15px;
  font-family: var(--font-sans);
  padding: 0;
}

.trust .iso{
  margin-top: 45px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trust .iso p{
  background-color: rgba(224, 191, 108, 0.1);
  color: var(--fourth-light-color);
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid rgba(224, 191, 108, 0.2);
  font-size: 16px;
  font-weight: 300;
  font-family: var(--font-sans);
}
.trust .iso p span{
  padding: 0 10px;
}

@media (max-width: 768px) {
  .trust .trust-item{
    margin-bottom: 25px;
    margin-left: 0px;
  }
  .trust .iso{
    padding: 25px 0px;
  }
  .trust .iso p{
    padding: 10px 15px;
    font-size: 14px;
  }
}

/* creations */
.creations{
  padding: 80px 0px;
  background-color: #f5eddf;
}
.creations .creations-text{
  padding: 25px 10px;
}
.creations .creations-text p{
  font-size: 16px;
  color: var(--fourth-dark-color);
  padding:5px 0;
  letter-spacing: 1px;
}
.creations .creations-text p .line{
  background-color: var(--fourth-dark-color);
  margin-right: 10px;
}
.creations .creations-text h2{
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--font-serif);
  padding: 10px 0;
  color:#000000;
}
.creations .creations-text .creations-text-one p{
  letter-spacing: 0px;
  font-size: 17px;
  font-weight: 400;
  color: var(--light-dark-color);
}
.creations .btn-golden{
  border-radius: 5px;
  background-color: var(--fourth-dark-color);
}
.creations .creations-box-item{
  padding: 25px 25px;
  margin-left: 5px;
  margin-bottom: 15px;
  background-color: #ffffff;
  color:#000000;
  height: 210px;
  border-radius: 15px;
}
.creations .creations-box-item span{
  color: var(--fourth-dark-color);
  height: 50px;
  width: 50px;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#f5eddf;
  font-size: 20px;
}
.creations .creations-box-item h4{
  font-size:18px;
  font-weight: 400;
  font-family: var(--font-serif);
  color:#000000;
  padding: 0;
}
.creations .creations-box-item p{
  font-size: 15px;
  font-family: var(--font-sans);
  padding: 0;
  color: var(--light-dark-color);
}

.creations .creations-process{
  margin-top: 100px;
  padding: 25px 10px;
  border-top: 0.1em solid var(--fourth-dark-color);
}

.creations .creations-process h2{
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-serif);
  padding: 10px 0;
  color:#000000;
  text-align: center;
}
.creations .creations-process .process-bar{
  margin-top: 45px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.creations .creations-process .process-bar .process-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 75px;
}
.creations .creations-process .process-bar .process-item span{
  background-color: var(--fourth-dark-color);
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid rgba(224, 191, 108, 0.2);
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-serif);
}
.creations .creations-process .process-bar .process-item p{
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 300;
  font-family: var(--font-serif);
  color: #000000;
  text-align: center;
  position: relative;
  z-index: 1;
}
.creations .creations-process .process-bar .process-item:not(:last-child) p::after{
  content: "";
  position: absolute;
  top: -30px;
  left: 88px;
  width: 262px;
  height: 1px;
  background-color: var(--fourth-dark-color);
}


.creations .creations-process .process-bar .process-item small{
  color: var(--light-dark-color);
  font-size: 14px;
}
@media (max-width: 768px) {
  .creations .creations-process .process-bar .process-item:not(:last-child) p::after{
    content: none;
  }
  .creations .creations-process .process-bar{
    flex-direction: column;
  }
  .creations .btn-golden{
    margin-bottom: 20px;
    width: 80%;
    padding: 10px 0px;
    font-size: 16px;
    margin-left: 40px;
  }
  .creations .creations-box-item{
    margin-left: 0px;
  }
}

/* customer-care */

.customer-care{
  padding: 100px 0;
}
.customer-care .customer-care-text{
  padding: 20px 0px;
}
.customer-care .customer-care-text p{
  font-size: 16px;
  padding:5px 0;
  font-family: var(--font-sans);
  letter-spacing: 2px;
  font-weight: 300;
  color: var(--fourth-light-color);
}

.customer-care .customer-care-text p .line{
  background-color: var(--fourth-dark-color);
  margin-right: 10px;
}

.customer-care .customer-care-text h2{
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--font-serif);
  padding: 10px 0;
  color: #000000;
}

.customer-care .customer-care-text .para{
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 400;
  color: var(--light-dark-color);
}

.customer-care .customer-care-item{
  padding: 0px 25px;
  margin-left: 5px;
  margin-bottom: 15px;
  background-color: #faf7f2;
  color:#000000;
  height: 210px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.customer-care .customer-care-item span{
  color: var(--fourth-dark-color);
  height: 50px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#ffffff;
  font-size: 20px;
  margin-right: 25px;
}
.customer-care .customer-care-item h4{
  font-size:18px;
  font-weight: 400;
  font-family: var(--font-serif);
  color:#000000;
  padding: 0;
}
.customer-care .customer-care-item p{
  font-size: 15px;
  font-family: var(--font-sans);
  padding: 0;
  color: var(--light-dark-color);
}

.customer-care .customer-care-box{
  padding: 25px 25px;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: #f5eddf;
  text-align: center;
  font-family: var(--font-sans);
  border-radius: 10px;
}
.customer-care .customer-care-box h2{
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--font-serif);
  padding: 10px 0;
  color: #000000;
}
.customer-care .customer-care-box p{
  letter-spacing: 0px;
  font-size: 15px;
  font-weight: 400;
  color: var(--light-dark-color);
}
.customer-care .customer-care-box .care-para{
  color:var(--fourth-dark-color);
  margin-top: 10px;
}
.customer-care .customer-care-box .care-para i{
  margin-right: 10px;
}
.customer-care .customer-care-box .care-para small{
  color: var(--light-dark-color);
}

@media (max-width: 768px) {

}

/* Legacy */
.legacy{
  padding: 100px 0;
  background-color: #f5eddf;
}
.legacy .legacy-text{
  padding: 20px 0px;
}
.legacy .legacy-text p{
  font-size: 16px;
  padding:5px 0;
  font-family: var(--font-sans);
  letter-spacing: 2px;
  font-weight: 300;
  color: var(--fourth-light-color);
}

.legacy .legacy-text p .line{
  background-color: var(--fourth-dark-color);
  margin-right: 10px;
}

.legacy .legacy-text h2{
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--font-serif);
  padding: 10px 0;
  color: #000000;
}

.legacy .legacy-text .para{
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 400;
  color: var(--light-dark-color);
}

.legacy .legacy-number{
  padding: 0px 65px;
  margin-bottom: 15px;
  background-color: #faf7f2;
  color:#000000;
  height: 210px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  overflow: hidden;
}
.legacy .legacy-number h4{
  font-size:3.2rem;
  font-weight: 400;
  font-family: var(--font-serif);
  color: var(--fourth-dark-color);
  padding: 0;
  line-height: 35px;
  text-align: center;
}

.legacy .legacy-number small{
  font-size: 15px;
  font-family: var(--font-sans);
  padding: 0;
  color: var(--light-dark-color);
}

@media (max-width: 768px) {
  .legacy .legacy-number{
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .legacy .legacy-number h4{
    font-size: 3.5rem;
  }

  .legacy .legacy-number small{
    font-size: 18px;
  }
}

/* experience */
.experience{
  padding: 100px 0;
background: #292521;
background: linear-gradient(180deg, rgba(41, 37, 33, 1) 0%, rgba(41, 37, 33, 1) 39%, rgba(41, 37, 33, 0.97) 100%);
}
.experience .experience-text{
  padding: 20px 0px;
  text-align: center;
}
.experience .experience-text p{
  font-size: 16px;
  padding:5px 0;
  font-family: var(--font-sans);
  letter-spacing: 2px;
  font-weight: 300;
  color: var(--fourth-dark-color);
}

.experience .experience-text p .line{
  background-color: var(--fourth-dark-color);
  margin-right: 10px;
}

.experience .experience-text h2{
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--font-serif);
  padding: 10px 0;
  color: #ffffff;
}
.experience .experience-text h2 span{
  color: var(--fourth-dark-color);
}
.experience .experience-text .para{
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 400;
  color: var(--vlight-dark-color);
}

.experience .experience-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience .experience-btn .btn-golden{
  border-radius: 5px;
  background-color: var(--fourth-dark-color);
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  font-family: var(--font-sans);
  padding: 12px 25px;
  margin: 0 10px;
  border: none;
  transition: all 0.4s ease;
  box-shadow: 0px 5px 10px rgba(80, 76, 52, 0.3);
}
.experience .experience-btn .btn-golden:hover{ 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);   
}

.experience .experience-btn .btn-golden-outline{
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--fourth-dark-color);
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  font-family: var(--font-sans);
  padding: 12px 25px;
  margin: 0 10px;
  transition: all 0.4s ease;
}
.experience .experience-btn .btn-golden-outline:hover{
  background-color: var(--fourth-dark-color);
  color: #292521;    
}

.experience hr{
  color: var(--fourth-dark-color);
  width: 75%;
  margin: 50px auto;
}
.experience .experiance-item{
  padding: 25px 65px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: #ffffff;
}

.experience .experiance-item span{
  color: var(--fourth-dark-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #423b2f;
  font-size: 20px;
}
.experience .experiance-item h4{
  font-size:1.5rem;
  font-weight: 400;
  font-family: var(--font-serif);
  padding: 0;
  line-height: 35px;
  text-align: center;
}
.experience .experiance-item p{
  font-size: 14px;
  color: var(--vlight-dark-color);
}